body {
	background-color:#595547;
	font-family: "Verdans", sans-serf;
	color:  white;
	
}
a {color:}
h1,h2 {
color: #9FC2f8
}
h1{
font-size: 80pt;
}
srong{
	color: #FFF86B
}
a {color: #FF4F4F}